@media (prefers-color-scheme: dark) {
     :root {
        --c1: #202040;
        --c2: #543864;
        --c3: #ff6363;
        --c4: #ffbd69;
    }
}

@media (prefers-color-scheme: light) {
     :root {
        --c1: #f4f4f4;
        --c2: #8ec6c5;
        --c3: #6983aa;
        --c4: #8566aa;
    }
}

body {
    background-color: var(--c1);
    color: var(--c4);
}

header {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    border-bottom: 2px solid var(--c3);
    border-top: 2px solid var(--c3);
    text-align: center;
}

.jumbo {
    font-size: 10vw;
    border-left: 2px solid var(--c3);
    border-right: 2px solid var(--c3);
    padding-left: 30%;
    padding-right: 30%;
}

main {
    margin-left: 5%;
    margin-right: 5%;
    /* margin-bottom: 5%; */
    border-bottom: 2px solid var(--c3);
    border-top: 2px solid var(--c3);
}

main>div>div {
    margin-top: 3%;
    margin-bottom: 3%;
}

.contents {
    border: 2px solid var(--c3);
    max-width: 125%;
}

.contents h1 {
    text-align: center;
    border-bottom: 2px solid var(--c3);
}

.contents p {
    margin-bottom: 50px;
    text-align: justify;
}

@media only screen and (max-width: 600px) {
    .contents-wrapper {
        border-bottom: 2px solid var(--c3);
    }
}

@media only screen and (min-width: 600px) {
    .contents-wrapper {
        border-right: 2px solid var(--c3);
    }
}

#searchbox {
    width: 100%;
    font-size: 16px;
}

#postlist {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 480px;
    overflow-y: scroll;
}

#postlist li a {
    text-decoration: none;
    display: block;
}

.contents img {
    width: 100%;
    height: auto;
}

.collection,
.collection-item {
    border-color: var(--c3) !important;
    background-color: var(--c1) !important;
}

::placeholder {
    color: var(--c3);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--c2);
}

::-webkit-scrollbar-thumb {
    background: var(--c4);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--c3);
}

.share-links ion-icon {
    font-size: 25px;
}

.share-links a:hover {
    color: darkgray;
}

.about q {
    text-align: center;
    display: block;
    margin: auto;
}

footer {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1.5%;
}

footer div {
    border-left: 2px solid var(--c3);
    border-right: 2px solid var(--c3);
}

a:hover {
    text-decoration: underline !important;
}

.contents-container {
    min-height: 540px;
}

.tag {
    color: var(--c3);
}