header {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    text-align: center;
}

.jumbo {
    font-size: 10vw;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding-left: 30%;
    padding-right: 30%;
}

main {
    margin-left: 5%;
    margin-right: 5%;
    /* margin-bottom: 5%; */
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

main>div>div {
    margin-top: 3%;
    margin-bottom: 3%;
}

.contents {
    border: 2px solid black;
    max-width: 125%;
}

.contents h1 {
    text-align: center;
}

.contents p {
    margin-bottom: 50px;
    text-align: justify;
}

@media only screen and (max-width: 600px) {
    .contents-wrapper {
        border-bottom: 2px solid black;
    }
}

@media only screen and (min-width: 600px) {
    .contents-wrapper {
        border-right: 2px solid black;
    }
}

#searchbox {
    width: 100%;
    font-size: 16px;
}

#postlist {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 480px;
}

#postlist li a {
    text-decoration: none;
    display: block;
}

.contents img {
    width: 100%;
    height: auto;
}

.collection,
.collection-item {
    border-color: black !important;
}

::placeholder {
    color: black;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.share-links ion-icon {
    font-size: 25px;
}

.share-links a:hover {
    color: darkgray;
}

.about q {
    text-align: center;
    display: block;
    margin: auto;
}

footer {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
}

footer div {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

a:hover {
    text-decoration: underline !important;
}

.contents-container {
    min-height: 540px;
}